* {
    list-style-type: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    list-style: none;
}

body {
    /* background-color: #ffffff; */
    background-color: #D9D9D9;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    /* background-color: aquamarine; */
}

.main {
    display: flex;
    flex-flow: column;
    width: 85%;
    /* background-color: rgba(207, 203, 203, 0.331); */
    background-color: #D9D9D9;
}

.menu {
    width: 20%;
    /* background-color: #FFF; */
    padding: 170px 20px ;

    line-height: 2rem;
    font-weight: 700;
    font-size: 1.1rem;
    align-items: center;
}

.menu ul li {
    transition: all 0.5s;
}

.menu ul li:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.lista-menu {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items:flex-end;
}

.menu a {
    text-decoration: none;
    cursor: pointer;
    color: #242873;
    font-size: 1.3rem;
}

/* MENU #SOBRE */

.menu-sobre {
    width: 20%;
    /* background-color: #FFF; */
    padding: 170px 20px ;

    line-height: 2rem;
    font-weight: 700;
    font-size: 1.1rem;
    align-items: center;
}
.lista-menu-sobre {
    padding-top: 8rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items:flex-end;
}

.menu-sobre ul li {
    transition: all 0.5s;
}

.menu-sobre ul li:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.menu-sobre a {
    text-decoration: none;
    cursor: pointer;
    color: #242873;
    font-size: 1.3rem;
}
/* INICIO HEADER */
.header {
    background-color: #D9D9D9;
    min-height: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-inline: 3rem;

    height: 8rem;
    margin-top: 2rem;
    border-bottom: 1px solid #2d354017;
    border-radius: 0px 0px 8px 8px;
    /* gap: 3rem; */
}

.header-logo h2 {
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: 700;
    color: #242873;
}

.header span {
    color: #18C29C;
}

.header-img {
    width: 16rem;
    padding: 0;
}

/* Estilo Pagina #Sobre */
.header-sobre {
    background-color: #D9D9D9;
    min-height: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-inline: 3rem;

    height: 16rem;
    margin-top: 2rem;
    border-bottom: 1px solid #2d354017;
    border-radius: 0px 0px 8px 8px;
}
.header-img-sobre {
    width: 90%;
}
.header-sobre span {
    color: #18C29C;
}
.sobre-img {
    width: 20rem;
}
.sobre-texto {
    padding-left: 1rem;
    font-size: 1.1rem;
    text-align: justify;
    font-weight: 200;
}

.content {
    background-color: #FFF;
    min-height: 300px;
    padding-top: 2rem;

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:4rem;

    border-radius: 8px;
}

.content h1 {
    color: #242873;
    font-weight: 700;
    text-align: center;
}
.content span {
    color: #18C29C;
}

.content h3 {
    color: orange;
    padding-top: 1rem;
    text-align: center;
}

.content p {
    text-align: justify;
    line-height: 2rem;
    padding-top: 1rem;
    text-align: justify;
    color: #242873;
    font-weight: 600;

}

.footer {
    background-color: #D9D9D9;
    min-height: 150px;
    width: 100%;
    height: 25vh;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    color: #242873;
}

.footer-conteudo {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    align-items: center;
    margin: auto;
}

.footer-conteudo p {
    padding-top: 1rem;
    font-weight: bold;
    padding-bottom: 1rem;
}

.footer-midias {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding-bottom: 2rem;
}

.footer-midias img {
    width: 2rem;
    transition: all 0.5s;
    cursor: pointer;
}

.footer-midias img:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}