* {
    list-style-type: none;
}

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    list-style: none;
}

body {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    /* background-color: aquamarine; */
}

.main {
    display: flex;
    flex-flow: column;
    width: 85%;
    /* background-color: rgba(207, 203, 203, 0.331); */
    background: #fff;
}

.menu {
    width: 20%;

    /* background-color: #FFF; */
    padding: 170px 20px ;

    line-height: 2rem;
    font-weight: 700;
    font-size: 1.1rem;
    align-items: center;
}

.menu ul li {
    transition: all 0.5s;
}

.menu ul li:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.lista-menu {
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items:flex-end;
}

.menu a {
    text-decoration: none;
    cursor: pointer;
    color: #2D3540;
    font-size: 1.3rem;
}

/* INICIO HEADER */
.main {
    padding-top: 0.5rem;
}

.header {
    background-color: #fff;
    min-height: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-inline: 3rem;

    border-bottom: 1px solid #2d354017;
    /* gap: 3rem; */
}

.header-logo h2 {
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: 700;
}

.header span {
    color: orange;
}

.header-img {
    width: 16rem;
    padding: 0;
}
.sobre-img {
    width: 20rem;
}
.sobre-texto {
    padding-left: 1rem;
    font-size: 1.1rem;
    text-align: justify;
    font-weight: 200;
}

.content {
    background-color: #FFF;
    min-height: 300px;
    padding-top: 5rem;

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:4rem;
}

.content h1 {
    color: #2D3540;
    font-weight: 700;
    text-align: center;
}
.content span {
    color: orange;
}

.content h3 {
    color: orange;
    padding-top: 1rem;
    text-align: center;
}

.content p {
    text-align: justify;
    line-height: 2rem;
    padding-top: 1rem;
    text-align: justify;
    color: #034CBC;
    font-weight: 600;

}

.footer {
    background-color: hsla(214, 17%, 41%, 0.268);
    min-height: 150px;
    width: 100%;
    height: 25vh;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    border-radius: 3rem 0 3rem 0;

    color: #034CBC;
}

.footer-conteudo {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    align-items: center;
    margin: auto;
}

.footer-conteudo p {
    padding-bottom: 1rem;
}

.footer-midias {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding-bottom: 2rem;
}

.footer-midias img {
    width: 2rem;
    transition: all 0.5s;
    cursor: pointer;
}

.footer-midias img:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}