* {
    list-style-type: none;
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    list-style: none;
}
body {
    background-color: #fff;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    /* background-color: aquamarine; */
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 20%;
    background-color: #FFF;
    padding: 10px 30px 10px 10px;

    line-height: 2rem;
    font-weight: 700;
    font-size: 1.1rem;
    align-items: center;
}
.lista-menu {
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    
}
.menu a {
    text-decoration: none;
    cursor: pointer;
    color:orange;
}
/* INICIO HEADER */
.header {
    background-color: #fff;
    min-height: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-inline: 3rem;
    gap: 2rem;
}
.header-logo h2 {
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 700;
}

.header spam {
    color: orange;
}
.header-img {
    width: 16rem;
    padding: 0;
}
.content {
    background-color: #FFF;
    min-height: 300px;
    padding: 20px;

    display: flex;
    flex-direction: row;
}
.content p {
    text-align: justify;
}
.footer {
    background-color: rgb(99, 56, 240);
    min-height: 150px;
}