<div class="container-big-card">
    <div class="big-card-photo">
        <img src="{{ photoCover }}" 
        alt="" 
        height="200px"
        srcset="">
    </div>
    <div class="big-card-title">
        <h1>
            <a href="#">{{ cardTitle }}Saiu a nova versão do angular</a>
        </h1>
    </div>
    <div class="big-card-description">
        <p>
            <a href="#">
                {{ cardDescription }}
                <!-- Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus consequuntur ex iste beatae maiores ipsam quas, animi alias temporibus omnis, in eos ducimus, eius esse nesciunt dolor rem labore. Error. -->
            </a>
        </p>
    </div>
</div>