
<app-menu-title></app-menu-title>
<div class="contaniner-articles">
    <div class="articles-main">
        <app-big-card 
        Id="1"
        photoCover="https://i.ytimg.com/vi/Ar-OwDlnmOE/maxresdefault.jpg" 
        cardTitle="New Iron Man"
        cardDescription="Marvel anuncia novo iron man para franquia."           
        >
        </app-big-card>
    </div>
    <div class="articles-others">
        <app-small-card
        Id="2"
        cardTitle="Novas Series da Marvel"
        photoCover="https://cdn.pocket-lint.com/r/s/x1920/assets/images/149551-tv-feature-what-is-the-best-order-to-watch-the-x-men-movies-image1-y5wpzep24w.jpg"
        >
    </app-small-card>
        <app-small-card
        Id="3"
        cardTitle="Novas Series da Marvel"
        photoCover="https://hqrock.files.wordpress.com/2019/01/x-men-by-fox.jpg"
        >
    </app-small-card>
        <app-small-card
        Id="4"
        cardTitle="Novas Series da Marvel"
        photoCover="https://sm.ign.com/t/ign_br/screenshot/default/capita2_mrux.1280.jpg"
        >
    </app-small-card>
    </div>
</div>  